html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

.tab-bar {
	display: flex;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	background-color: #f1f1f1;
}
.tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
	margin-right: 5px;
	background-color: #ddd;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	max-width: 200px;
	overflow: hidden;
}
.tab-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tab.active {
	background-color: #029139;
	font-weight: bold;
}
.tab-close {
	margin-left: 8px;
	cursor: pointer;
	font-weight: bold;
	color: #555;
}
.tab-close:hover {
	color: #000;
}
.add-tab {
	margin-left: auto;
	padding: 8px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

#noteContent {
	flex: 1;
	width: 100%;
	/* height: 90%; */
	border: none;
	outline: none;
	resize: none;
	padding: 12px;
	box-sizing: border-box;
	font-size: 14px;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	width: 80%;
	max-width: 300px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.modal-content h3 {
	margin-top: 0;
}

.modal-content input {
	width: 100%;
	padding: 8px;
	margin: 10px 0;
	box-sizing: border-box;
}

.modal-buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.modal-buttons button {
	padding: 8px 12px;
	cursor: pointer;
}

#transferModal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

#transferModalInner {
	background: white;
	padding: 20px;
	border-radius: 5px;
	width: 80%;
	max-width: 400px;
}

#transferTabList {
	max-height: 200px;
	overflow-y: auto;
}

#transferModalButtons {
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
